<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<head>
    <title>URLs</title>
</head>
<section layout:fragment="content">
    <div class="container-lg mt-5" th:object="${url}">
        <h1>Сайт: <span th:text="*{name}"></h1>
        <table class="table table-bordered table-hover mt-3">
            <tr>
                <td>ID</td>
                <td th:text="*{id}"></td>
            </tr>
            <tr>
                <td>Имя</td>
                <td th:text="*{name}"></td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td th:text="${url ? #temporals.format(url.createdAt, 'dd/MM/yyyy HH:mm') : ''}"></td>
            </tr>
        </table>
    </div>
    <div class="container-lg mt-5" th:object="${url}">
        <h1>Проверки</h1>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Запустить проверку</button>
        </div>
        <table class="table table-bordered table-hover mt-3">
            <thead>
            <th>ID</th>
            <th>Код ответа</th>
            <th>Title</th>
            <th>H1</th>
            <th>Description</th>
            <th>Дата проверки</th>
            </thead>
        </table>
    </div>

</section>